/* reset margin, padding */
body{
    margin: 0 !important;
    padding: 0 !important;
}
.banner{
    border: 1px solid red;
    height: 865px;
    width: 100%;
    background: url(./banner.jpg) center center no-repeat;
}