/* reset margin, padding */
body{
    margin: 0 !important;
    padding: 0 !important;
}
.banner{
    /* border: 1px solid red; */
    height: 865px;
    width: 100%;
    background: url(./banner.jpg) center center no-repeat;
    padding: 10px;
}
.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green;
}
.about-signin{
    height: 80px;
    width: 100%;
    text-align: right;
}
.about, .signin{
    margin-top: 20px;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}
.signin{
    margin-right: 60px;
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid green;

}
.logo{
    background: url('./logo.png') center center no-repeat;
    margin-top: 100px;
    height: 100px;
}
.text{
    text-align: center;
    margin-top: 30px;
}
.btn-start-now{
    text-align: center;
}
button{
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid green;
    margin-top: 35px;
    cursor: pointer;
}
.content-center{
    display: inline;
}
.left, .right, .center{
    width: 33%;
    display: inline-block;
    text-align: center;
}
span{
    display: block;
    font-size: 50px;
}
img{
    width: 50px;
    height: 50px;
}